<mat-toolbar color="primary">
  <button mat-raised-button color="accent" (click)="addUniverse()">
    <mat-icon>
      add
    </mat-icon>
    Add universe
  </button>

  <button mat-raised-button (click)="addSide()">
    <mat-icon>
      add
    </mat-icon>
    Add side
  </button>

  <mat-button-toggle-group #tools="matButtonToggleGroup">
    <mat-button-toggle value="select">
      <mat-icon> select_all </mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="turn_off">
      <mat-icon>block</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<mat-tab-group>
  <mat-tab *ngFor="let s of state.sides" [label]="s.name">
    <app-frontage-canvas (clickCell)=updateCell($event) [side]="s"></app-frontage-canvas>
  </mat-tab>
</mat-tab-group>


<!-- <mat-chip-list cdkDropList cdkDropListOrientation="horizontal">
  <mat-chip class="example-box" cdkDrag *ngFor="let u of state.universe">
    {{ "Universe " + u.id }}
  </mat-chip>
</mat-chip-list> -->
