<h2 mat-dialog-title>Universe creation</h2>
<div mat-dialog-content>
  <form [formGroup]="universeForm">
    <mat-form-field appearance="fill">
      <mat-label>DMX Start Address</mat-label>
      <input
        matInput
        type="number"
        [formControl]="universeForm.controls.address"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>DMX Hop</mat-label>
      <input
        matInput
        type="number"
        [formControl]="universeForm.controls.step"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Color Mode</mat-label>
      <mat-select [formControl]="universeForm.controls.mode">
        <mat-option *ngFor="let m of colorMode" [value]="m">
          {{ m }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <button
        mat-button
        [mat-dialog-close]="universeForm.value"
        [disabled]="!universeForm.valid"
      >
        Finish
      </button>
      <button mat-button (click)="dialogRef.close()">Close</button>
    </div>
  </form>
</div>
