<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <div fxLayout="column">
      <button mat-button>
        <mat-icon>add</mat-icon>
        <span>Nouvelle configuration</span>
      </button>
      <button mat-button>
        <mat-icon>save</mat-icon>
        <span>Enregistrer la configuration</span>
      </button>
      <button mat-button>
        <mat-icon>import_export</mat-icon>
        <span>Importer configuration</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
      mat-icon-button
      (click)="sidenav.toggle()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
      <nav fxLayout="row" fxLayoutAlign="space-around">
        <a routerLink="artnet">Artnet</a>
        <a routerLink="fapp">Frontage App</a>
        <a routerLink="calendar">Calendrier</a>
        <a routerLink="settings">Settings</a>
      </nav>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
