<mat-toolbar>
  <div id="button-menu">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>save</mat-icon>
        <span>Enregistrer la configuration</span>
      </button>
      <button mat-menu-item>
        <mat-icon>add</mat-icon>
        <span>Nouvelle configuration</span>
      </button>
      <button mat-menu-item>
        <mat-icon>import_export</mat-icon>
        <span>Importer configuration</span>
      </button>
    </mat-menu>
  </div>
  <nav>
    <a routerLink="artnet">Artnet</a>
    <a routerLink="fapp">Frontage App</a>
    <a routerLink="calendar">Calendrier</a>
    <a routerLink="settings">Paramètres</a>
  </nav>
</mat-toolbar>
<router-outlet></router-outlet>
