<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <form [formGroup]="geographyForm" (ngSubmit)="updateSun()">
      <mat-form-field appearance="fill">
        <mat-label>Longitude</mat-label>
        <input matInput type="number" [formControl]="geographyForm.controls.longitude" />
        <!-- <mat-error *ngIf="creationForm.errors.invalid">Min size: 10px</mat-error> -->
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Latitude</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex. 12"
          [formControl]="geographyForm.controls.latitude"
        />
        <!-- <mat-error *ngIf="creationForm.errors.invalid">Min size: 10px</mat-error> -->
      </mat-form-field>
      <br />
      <div id="submit">
        <button
          mat-flat-button
          color="accent"
          type="submit"
          [disabled]="!geographyForm.valid"
        >
          Update times (Sunrise/Sunset)
        </button>
      </div>
    </form>
  </mat-grid-tile>
</mat-grid-list>
